<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyoufu.pay.mapper.QrcodeInfoMapper">
  <resultMap id="BaseResultMap" type="com.heyoufu.pay.model.QrcodeInfo">
    <!--@mbg.generated-->
    <!--@Table qrcode_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="qrcode_no" jdbcType="VARCHAR" property="qrcodeNo" />
    <result column="qrcode_url" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="upstream_merchant_no" jdbcType="VARCHAR" property="upstreamMerchantNo" />
    <result column="user_header" jdbcType="VARCHAR" property="userHeader" />
    <result column="agent_no" jdbcType="VARCHAR" property="agentNo" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, qrcode_no, qrcode_url, user_id, merchant_no, merchant_name, "status", channel_id, 
    upstream_merchant_no, user_header, agent_no, create_user, create_time, update_user, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qrcode_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from qrcode_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heyoufu.pay.model.QrcodeInfo">
    <!--@mbg.generated-->
    insert into qrcode_info (id, qrcode_no, qrcode_url, 
      user_id, merchant_no, merchant_name, 
      "status", channel_id, upstream_merchant_no, 
      user_header, agent_no, create_user, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{qrcodeNo,jdbcType=VARCHAR}, #{qrcodeUrl,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{channelId,jdbcType=BIGINT}, #{upstreamMerchantNo,jdbcType=VARCHAR}, 
      #{userHeader,jdbcType=VARCHAR}, #{agentNo,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.heyoufu.pay.model.QrcodeInfo">
    <!--@mbg.generated-->
    insert into qrcode_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qrcodeNo != null">
        qrcode_no,
      </if>
      <if test="qrcodeUrl != null">
        qrcode_url,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="merchantNo != null">
        merchant_no,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="upstreamMerchantNo != null">
        upstream_merchant_no,
      </if>
      <if test="userHeader != null">
        user_header,
      </if>
      <if test="agentNo != null">
        agent_no,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qrcodeNo != null">
        #{qrcodeNo,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null">
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="upstreamMerchantNo != null">
        #{upstreamMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="userHeader != null">
        #{userHeader,jdbcType=VARCHAR},
      </if>
      <if test="agentNo != null">
        #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heyoufu.pay.model.QrcodeInfo">
    <!--@mbg.generated-->
    update qrcode_info
    <set>
      <if test="qrcodeNo != null">
        qrcode_no = #{qrcodeNo,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null">
        qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        "status" = #{status,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="upstreamMerchantNo != null">
        upstream_merchant_no = #{upstreamMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="userHeader != null">
        user_header = #{userHeader,jdbcType=VARCHAR},
      </if>
      <if test="agentNo != null">
        agent_no = #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heyoufu.pay.model.QrcodeInfo">
    <!--@mbg.generated-->
    update qrcode_info
    set qrcode_no = #{qrcodeNo,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      merchant_no = #{merchantNo,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      "status" = #{status,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=BIGINT},
      upstream_merchant_no = #{upstreamMerchantNo,jdbcType=VARCHAR},
      user_header = #{userHeader,jdbcType=VARCHAR},
      agent_no = #{agentNo,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-06-12-->
  <select id="selectByQrcodeNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from qrcode_info
    where qrcode_no=#{qrcodeNo,jdbcType=VARCHAR}
  </select>

</mapper>